
@model EmployeeMoreViewModel
<html>
<head>
    <title>@Model.title</title>
</head>
<body>
    <p>
        @Model.Employee.Name
        <br />
        @Model.Employee.Email
        <br />
        @Model.Employee.Departement

    </p>
    <h1>hello from view more on employee controller edited</h1>
</body>
</html>